[submodule "libraries/LEDMatrix"]
	path = libraries/LEDMatrix
	url = git@github.com:Jorgen-VikingGod/LEDMatrix.git
[submodule "libraries/FastLED"]
	path = libraries/FastLED
	url = git@github.com:FastLED/FastLED.git
